@import "./theme.css";

.w-70{
    width: 70% !important;
}
.w-30{
    width: 30% !important;
}


.main-page{
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 5rem;
    padding: 4rem 10rem;
}

.profile-content{
    background-color: var(--bg-body);
    color: var(--color);
    padding: 40px;
    position: relative;
    left: 0;
    width: 100%;
    transition: all .02s ease 1s;
    -webkit-transition: all .02s ease 1s;
    display: flex;
    flex-direction: column;
    border: 1px solid #676767;
    border-radius: 15px;
    height: 80%;
}
.body-profile img{
    width: 100%;
    border-radius: 10px;
}

.link button {
    background: #f7bf04;
    border: 1px solid #f7bf04;
    border-radius: 8px;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.circle-social{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #424141;
}