:root {
    --bg-body: #0e0f0f;
    --color: #fff
}

html.light {
    --bg-body: #ffffff;
    --color: #0e0f0f;
}

html, body {
    background-color: var(--bg-body);
    color: var(--color);
    height: 100%;
}
